<h1>Editing team</h1>

<%= render 'form' %>

<%= form_for @team, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label :challenger, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :challenger_id, options_from_collection_for_select(@players, :id, :fullname_and_rank,
                                                                        @match.challenger_id) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :defender, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :defender_id, options_from_collection_for_select(@players, :id, :fullname_and_rank,
                                                                      @match.defender_id) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  matches_path, :class => 'btn' %>
    </div>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>


